{% extends 'base.html' %}
{% load static %}

{%block adoption%}
<div class="container " style="padding-top: 10rem; padding-bottom: 2rem; min-height: 92vh;">

  <div class="row">
    <h1 style="text-align: center;">REQUEST FOR ADOPTION</h1>
    <div class="container">
      {% for msg in messages %}
      {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{msg}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% else %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{msg}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      {% endfor %}
      {% if has_approved_request %}
      <p class="fw-bold">You already have an approved adoption request.</p>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-4 d-flex justify-content-center ">
          <a class="btn text-dark px-5 mt-3" href="{% url 'usr_ch_li' org_id %}" style="background-color: #f8b864; border-radius: 10px;">Select Child</a>
        </div>
        <div class="col-4"></div>
      </div>
      {% else %}
      <form method="post" enctype="multipart/form-data" class="bg-secondary p-5 border-2 border-info">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Submit Request</button>
      </form>
      {% endif %}
     
    </div>
  </div>
</div>


{% comment %} <style>
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
</style> {% endcomment %}
{%endblock adoption%}